 @import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&family=Rock+Salt&display=swap');

          body{
            background: #ffce76;
            color: #1d1919;
            font-family: 'Jost', sans-serif;
          }
        
          h1{
              text-align: center;
              font-family: 'Rock Salt', serif;
              margin-top: 42px;
              margin-bottom: 42px;
              
          }
          
          header{
              text-align: center !important;
              font-size: 84px !important;
              font-family: 'Rock Salt', serif;
              background-color: #1d1919;
              padding: 24px;
              width: 100%;
          }
          
          header a{
              color: #ffce76 !important;
          }
          
          header a:hover{
              text-decoration: none !important;
          }

          .accordion{
              margin-top: 42px !important;
              font-size: 52px !important;
          }

          h3{
            font-size: 31px;
          }

          .btn-link, a{
              color: #1d1919;
              border: none !important;
          }

          .btn-link:hover, .btn-link:active{
              color: #1d1919;
              text-decoration: underline !important;
              border: none !important;
          }

          a:hover, a:active{
              text-decoration: underline !important;
              border: none !important;
          }

          .card-header{
            background-color: #ffce76  !important;
            color: black  !important;
            border: none !important;
            font-size: 34px !important;
            font-family: 'Rock Salt', serif;
          }

          .card{
              border: 0px solid !important;
              border: none !important;
          }

          .card-body{
              background-color: #ffce76;  !important;
              border: none !important;
          }

          a:hover{
              color: white;
              text-decoration: underline;
          }

          h6{
            text-transform: uppercase;
            font-size: 12px;
            color: grey; 
            font-family: 'Jost', sans-serif;
            text-align: center;
          }
          
          .new{
              background-color: #0900c3;
              text-align: center;
              padding: 12px;
              border-radius: 6px;
              margin-top: 18px;
              margin-bottom: 18px;
          }
          
          .new a{
              font-size: 21px !important;
              color: #ffce76 !important;
          }
          
          .new img{
              width: 15px !important;
          }

          footer{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            display: none;
          }
          
          @media screen and (min-width: 601px) {
              .btn-link, a {
                font-size: 42px;
            }
            
            .new{
                width: 52%;
            }
            
            .new a{
                font-size: 18px !important;
            }
        }
            @media screen and (max-width: 600px) {
              .btn-link, a{
                font-size: 24px;
              }
              
              .new{
                  width: 90%;
                  font-size: 12px;
              }
              
              .new a{
                  font-size: 15px !important;
              }
              
              .new img{
                  width: 8px !important;
              }
            }